@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-babyblue:#CBF0FF;
}

.container {
  width: 100vw;
  margin: auto;
  padding: 2rem;
}



html {
  transition: background 0.3s, color 0.3s;
}
